<div class="cover-container">
  <div class="cover">
    <h1 style="font-family: Agency FB;"><strong>Eventrix</strong></h1>
    <p>A Rails application event analytic and reporting tool.</p>
  </div>


  <div class="mastfoot">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <p>Something in footer</p>
      </div>
    </div>
  </div>
</div>